<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <header>
                    <h1>Symposium Registration</h1>
                </header>
                <?= $form->render() ?>
            </div>
        </div>
    </div>
</section>
<?php $this->end() ?>
