<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<section class="content-section">
    <div class="container-fluid">
        <header class="d-flex justify-content-between">
            <h1>Registrations</h1>
            <div class="controls">
                <a class="btn btn-default" href="?view=csv">Export</a>
    <!--             <a class="btn btn-primary" href="?view=
                    create">Add</a> -->
            </div>
        </header>

        <h2>Statistics</h2>
        <div class="table-responsive">
            <table class="table table-dark table-hover">        
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Registered</th>
                        <th>Cancelled</th>
                        <th>Waiting list</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($statistics as $type => $stats): ?>
                        <?php if ($type === 'totals') continue; ?>
                        <tr>
                            <td><?= $type ?></td>
                            <td><?= $stats['registered'] ?></td>
                            <td><?= $stats['cancelled'] ?></td>
                            <td><?= $stats['waiting_list'] ?></td>
                        </tr>
                    <?php endforeach ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th><?= $statistics['totals']['registered'] ?></th>
                        <th><?= $statistics['totals']['cancelled'] ?></th>
                        <th><?= $statistics['totals']['waiting_list'] ?></th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <h2>Registrations</h2>
        <div class="table-responsive"> 
            <table class="table table-hover table-dark table-registrations" id="registrations">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>IBAN</th>
                        <th>BIC</th>
                        <th>Study</th>
                        <th>Remarks</th>
                        <th>Info</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($objects as $participant): ?>
                        <tr <?php if ($participant['status'] !== 'registered'): ?>class="text-muted"<?php endif ?>>
                            <td><?= $this->html($participant['first_name']) ?></td>
                            <td><?= $this->html($participant['surname']) ?></td>
                            <td><?= $this->html($participant['email']) ?></td>
                            <td><?= $this->html($participant['phone']) ?></td>
                            <td><?= $this->html($participant['iban']) ?></td>
                            <td><?= $this->html($participant['bic']) ?></td>
                            <td><?= $this->html($participant['study']) ?></td>
                            <td class="truncate" title="<?= $this->attr($participant['remarks']) ?>"><?= $this->html($participant['remarks']) ?></td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <?php if ($participant['status'] === 'registered'): ?>
                                            <span class="badge badge-success">Registered</span>
                                        <?php elseif ($participant['status'] === 'cancelled'): ?>
                                            <span class="badge badge-danger">Cancelled</span>
                                        <?php elseif ($participant['status'] === 'waiting_list'): ?>
                                            <span class="badge badge-warning">Waiting list</span>
                                        <?php endif ?>
                                    </li>
                                    <?php if ($participant['diet'] != 'regular'): ?>
                                        <?php $model = get_model('Participant');?>
                                        <li class="list-inline-item">
                                            <span class="badge badge-secondary">
                                                <?= $this->html($model::$diet_options[$participant['diet']]) ?>
                                            </span>
                                        </li>
                                    <?php endif ?>
                                </ul>
                            </td>
                            <td class="text-right">
                                <ul class="list-inline">
                                    <?php if ($participant['comments'] || !empty($participant['remarks'])): ?>
                                        <li class="list-inline-item">
                                            <i class="fa fa-comment"></i>
                                            <?= $this->html((int)$participant['comments'] + (!empty($participant['remarks']) ? 1 : 0)) ?>
                                            <span class="sr-only">comments</span>
                                        </li>
                                    <?php endif ?>
                                    <li class="list-inline-item">
                                        <a href="participant.php?uuid=<?= $this->attr($participant['uuid']) ?>">view</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="?view=update&id=<?= $this->attr($participant['id']) ?>">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <?php endforeach ?>
                    <?php if (!$objects): ?>
                        <tr><td colspan="11" class="text-muted text-center">Nobody has registered yet :(</td></tr>
                    <?php endif ?>
                </tbody>
            </table>
        </div>
    </div>
</section>
<?php $this->end() ?>
