<?php $this->extends('../form_dialog.phtml') ?>

<?php $this->begin('dialog_title') ?>
    Delete <?= $this->html(strtolower($object['type'])) ?> comment for <?= $this->html($participant['first_name']) ?> <?= $this->html($participant['surname']) ?>
<?php $this->end() ?>

<?php $this->begin('dialog_content') ?>
    Are you sure you want to delete this <?= $this->html(strtolower($object['type'])) ?> comment, created on <?= $this->html($object['timestamp']) ?>?
<?php $this->end() ?>

<?php $this->begin('dialog_footer') ?>
    <a href="/registration/participant.php?uuid=<?= $this->attr($participant['uuid']) ?>" class="btn btn-default" data-dismiss="modal">Cancel</a>
    <button type="submit" class="btn btn-danger">Proceed</button>
<?php $this->end() ?>
