<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<section class="content-section">
    <div class="container">
        <header class="d-flex justify-content-between">
            <h1>Participants</h1>
            <div class="controls">
                <a class="btn btn-default" href="/registration/scanner.php">Scanner</a>
            </div>
        </header>

        <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item">
                <a href="?view=present" class="nav-link <?php if ($view === 'present'): ?>active<?php endif ?>">Present participants</a>
            </li>
            <li role="presentation">
                <a href="?view=all" class="nav-link <?php if ($view === 'all'): ?>active<?php endif ?>">All participants</a>
            </li>
            <li role="presentation">
                <a href="?view=comments"  class="nav-link <?php if ($view === 'comments'): ?>active<?php endif ?>">Comments</a>
            </li>
        </ul>
    
        <?= !empty($page) ? $page : ''?>
    </div>
</section>
<?php $this->end() ?>