<?php $this->extends('participant_base.phtml') ?>

<?php $this->begin('page') ?>
<h2>Statistics</h2>
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Type</th>
                <th>Registered</th>
                <th>Cancelled</th>
                <th>Waiting list</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($statistics as $type => $stats): ?>
                <?php if ($type === 'totals') continue; ?>
                <tr>
                    <td><?= $type ?></td>
                    <td><?= $stats['registered'] ?></td>
                    <td><?= $stats['cancelled'] ?></td>
                    <td><?= $stats['waiting_list'] ?></td>
                </tr>
            <?php endforeach ?>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th><?= $statistics['totals']['registered'] ?></th>
                <th><?= $statistics['totals']['cancelled'] ?></th>
                <th><?= $statistics['totals']['waiting_list'] ?></th>
            </tr>
        </tfoot>
    </table>
</div>

<h2>All participants</h2>
<div class="table-responsive"> 
    <table class="table table-hover table-dark table-registrations" id="registrations">
        <thead>
            <tr>
                <th>Study</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Info</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($objects as $participant): ?>
                <tr <?php if ($participant['status'] !== 'registered'): ?>class="text-muted"<?php endif ?>>
                    <td><?= $this->html($participant['study']) ?></td>
                    <td><?= $this->html($participant['first_name']) ?></td>
                    <td><?= $this->html($participant['surname']) ?></td>
                    <td><?= $this->html($participant['phone']) ?></td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <?php if ($participant['status'] === 'registered'): ?>
                                    <span class="badge badge-success">Registered</span>
                                <?php elseif ($participant['status'] === 'cancelled'): ?>
                                    <span class="badge badge-danger">Cancelled</span>
                                <?php elseif ($participant['status'] === 'waiting_list'): ?>
                                    <span class="badge badge-warning">Waiting list</span>
                                <?php endif ?>
                            </li>
                            <?php if ($participant['diet'] != 'regular'): ?>
                                <?php $model = get_model('Participant');?>
                                <li class="list-inline-item">
                                    <span class="badge badge-secondary">
                                        <?= $this->html($model::$diet_options[$participant['diet']]) ?>
                                    </span>
                                </li>
                            <?php endif ?>
                        </ul>
                    </td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <?php if ($participant['comments'] || !empty($participant['remarks'])): ?>
                                <li class="list-inline-item">
                                    <i class="fa fa-comment"></i>
                                    <?= $this->html((int)$participant['comments'] + (!empty($participant['remarks']) ? 1 : 0)) ?>
                                    <span class="sr-only">comments</span>
                                </li>
                            <?php endif ?>
                            <?php if (!empty($participant['last_checkin']) && (empty($participant['last_checkout']) || date_create($participant['last_checkin']) > date_create($participant['last_checkout']))): ?>
                                <li class="list-inline-item">
                                    <i class="fa fa-check"></i>
                                    <span class="sr-only">present</span>
                                </li>
                            <?php endif ?>
                            <li class="list-inline-item">
                                <a href="?view=single&uuid=<?= $participant['uuid'] ?>">view</a>
                            </li>
                            <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
                                <li class="list-inline-item">
                                    <a href="admin.php?view=update&id=<?= $this->attr($participant['id']) ?>">edit</a>
                                </li>
                            <?php endif ?>
                        </ul>
                    </td>
                </tr>
            <?php endforeach ?>
            <?php if (!$objects): ?>
                <tr><td colspan="6" class="text-muted text-center">Nobody has registered yet :(</td></tr>
            <?php endif ?>
        </tbody>
    </table>
</div>
<?php $this->end() ?>
