<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="content-section">
    <div class="container">
        <header class="d-flex justify-content-between">
            <h1><?= $object['first_name'] ?> <?= $object['surname'] ?></h1>
            <div class="controls">
                <a class="btn btn-default" href="/registration/scanner.php">Scanner</a>
            </div>
        </header>
        <section class="card text-dark">
            <div class="card-header">
                <h2 class="card-title">Details</h2>
            </div>
            <table class="table table-hover table-condensed">
                <tr>
                    <th>First Name</th>
                    <td><?= $this->html($object['first_name']) ?></td>            
                </tr>
                <tr>
                    <th>Surname</th>
                    <td><?= $this->html($object['surname']) ?></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><?= $this->html($object['address']) ?></td>
                </tr>
                <tr>
                    <th>Postal Code</th>
                    <td><?= $this->html($object['postal_code']) ?></td>
                </tr>
                <tr>
                    <th>Place of residence</th>
                    <td><?= $this->html($object['city']) ?></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><?= $this->html($object['email']) ?></td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td><?= $this->html($object['phone']) ?></td>
                </tr>
                <tr>
                    <th>IBAN</th>
                    <td><?= $this->html($object['iban']) ?></td>
                </tr>
                <tr>
                    <th>BIC</th>
                    <td><?= $this->html($object['bic']) ?></td>
                </tr>
                <tr>
                    <th>Study</th>
                    <td><?= $this->html($object['study']) ?></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        <?php if ($object['status'] === 'registered'): ?>
                            <span class="badge badge-success">Registered</span>
                        <?php elseif ($object['status'] === 'cancelled'): ?>
                            <span class="badge badge-danger">Cancelled</span>
                        <?php elseif ($object['status'] === 'waiting_list'): ?>
                            <span class="badge badge-warning">Waiting list</span>
                        <?php endif ?>
                    </td>
                </tr>
                <?php $model = get_model('Participant');?>
                <tr>
                    <th>Dinner</th>
                    <td><?= $this->html($model::$dinner_options[$object['dinner']]) ?></td>
                </tr>
                <tr>
                    <th>Diet</th>
                    <td><?= $this->html($model::$diet_options[$object['diet']]) ?></td>
                </tr>
            </table>
        </section>

        <section>
            <h2>Comments</h2>
            <?php if (!empty($object['remarks'])): ?>
                <div class="card bg-info comment">
                    <div class="card-header">
                        <strong>Registration Remarks</strong>
                    </div>
                    <div class="card-body">
                        <?= $this->format_plain_text($object['remarks']) ?>
                    </div>
                </div>
            <?php endif ?>
            <?php foreach ($comments as $comment): ?>
                <div class="card <?php if (strpos($comment['type'], 'Check') === 0): ?>bg-secondary<?php elseif ($comment['type'] === 'Incident' || $comment['type'] === 'Medical'): ?>bg-danger<?php else: ?>bg-info<?php endif ?> comment">
                    <div class="card-header">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong><?= $this->html($comment['type']) ?></strong>
                            </li>
                            <li class="list-inline-item">&ndash;</li>
                            <li class="list-inline-item">
                                <a href="https://www.svcover.nl/profiel.php?lid=<?= $this->attr($comment['commenter_cover_id']) ?>" target="_blank">
                                    <?= $this->html($comment['commenter_name']) ?>
                                </a>
                            </li>
                            <li class="list-inline-item">&ndash;</li>
                            <li class="list-inline-item">
                                <?= $this->html($comment['timestamp']) ?>
                            </li>
                            <?php if ((int)$comment['commenter_cover_id'] === get_cover_session()->id && strpos($comment['type'], 'Check') !== 0): ?>
                                <li class="list-inline-item">&ndash;</li>
                                <li class="list-inline-item"><a href="/registration/comment.php?view=update&id=<?= $this->attr($comment['id']) ?>" data-popup="modal">edit</a></li>
                            <?php elseif ((int)$comment['commenter_cover_id'] === get_cover_session()->id): ?>
                                <li class="list-inline-item">&ndash;</li>
                                <li class="list-inline-item"><a href="/registration/comment.php?view=delete&id=<?= $this->attr($comment['id']) ?>" data-popup="modal">delete</a></li>
                            <?php endif ?>
                        </ul>
                    </div>
                    <?php if (!empty($comment['comment'])): ?>
                        <div class="card-body">
                            <?= $this->format_plain_text($comment['comment']) ?>
                        </div>
                    <?php endif ?>
                </div>
            <?php endforeach ?>
            <?= $comment_form->render('/registration/comment.php?view=create&participant_id=' . $object['id']) ?>
        </section>
    </div>
</div>
<?php $this->end() ?>

<?php $this->begin('scripts') ?>
    <script src="/static/js/dialog.js"></script>
<?php $this->end() ?>
