<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration [REC🔴RDED]</title>
    <style>
    body {
        font: 13px/16px sans-serif;
    }
    </style>
</head>
<body>
    <p>Dear <?= $this->html($first_name) ?>,</p>
    <?php if ($status === 'waiting_list'): ?>
        <p>Thank you for your registration. You are on the waiting list and will hear back from us as soon as there is a spot available.</p>
    <?php else: ?>
        <p>Thank you for your registration. You'll hear back from us later.</p>
    <?php endif ?></p>

    <?php if ($qr): ?>
        <p>
            We generated a QR code for you that will serve as your ticket. Make sure you can show this at the entrance. You can also view it in your browser using <a href="<?= $this->attr(SERVER_NAME . '/registration/participant.php?uuid=' . $uuid ) ?>">this personal link</a>.
        </p>
        <a href="<?= $this->attr(SERVER_NAME . '/registration/participant.php?uuid=' . $uuid ) ?>">
            <img alt="Your personalised QR code" height="200" width="200" src="<?= $this->attr($qr) ?>">
        </a>
    <?php else: ?>
        <p>
            We tried to generate a QR code for you to serve as your ticket, but failed. Don't worry, we're on it. As soon as we fixed the problems, you can view it in your browser using <a href="<?= $this->attr(SERVER_NAME . '/registration/participant.php?uuid=' . $uuid ) ?>">this personal link</a>. Make sure you can show it at the entrance.
        </p>
    <?php endif ?>

    <hr>

    <p>Just as a reminder, this is what you entered:</p>
    <ul>
        <li>Name: <?= $this->html($first_name) ?> <?= $this->html($surname) ?></li>
        <li>Address: <?= $this->html($address) ?></li>
        <li>Postal code: <?= $this->html($postal_code) ?></li>
        <li>Place of residence: <?= $this->html($city) ?></li>
        <li>Email: <?= $this->html($email) ?></li>
        <li>Phone: <?= $this->html($phone) ?></li>
        <li>IBAN: <?= $this->html($iban) ?></li>
        <?php if (!empty($bic)): ?>
            <li>BIC: <?= $this->html($bic) ?></li>
        <?php endif ?>
        <li>Study: <?= $this->html($study) ?></li>
        <?php $model = get_model('Participant');?>
        <li>
            Lunch:
            <?= $this->html($model::$dinner_options[$dinner]) ?>
        </li>
        <li>
            Diet:
            <?= $this->html($model::$diet_options[$diet]) ?>
        </li>
        <?php if (!empty($wants_expo)): ?>
            <li>You're interested in tickets for AI: More Than Human</li>
        <?php endif ?>
        <?php if (!empty($wants_membership)): ?>
            <li>You want to become a Cover member</li>
        <?php endif ?>
        <li>You have read and agreed to the terms and conditions.</li>
        <li>Comments: <?= $this->format_plain_text($remarks) ?></li>
    </ul>

    <hr>

    <p>If you have any further questions, please contact us at <a href="mailto:sympocee@svcover.nl">sympocee@svcover.nl</a>.</p>
    <p>Kind regards,<br>The SympoCee</p>
</body>
</html>
