<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Sign up</h1>
                <?= !empty($form) ? $form : ''?>
            </div>
        </div>
    </div>
</section>
<?php $this->end() ?>
