<?php $this->extends('registration_base.phtml') ?>

<?php $this->begin('form') ?>
    <?php if ($symposium_full): ?>
        <div class="alert alert-warning alert-dismissible alert-waiting-list" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                At the moment, all spots for the symposium are taken. You can still sign up and we recommend to do so, but you will be placed on the waiting list. In case someone cancels it would mean you still get to come! We will contact you in due time if you are still eligible for joining. 
            </p>
            <p>
                <strong>
                    We will not charge you if you are on the waiting list.
                </strong>
            </p>
        </div>
    <?php endif ?>
    <?php if (cover_session_logged_in()): ?>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Hi <?= get_cover_session()->voornaam ?>! We prefilled the form with some your information from the Cover website.
        </div>
    <?php else: ?>
        <div class="form-group">
            <a class="btn btn-primary" href="<?= cover_login_url() ?>">I'm a Cover member</a>
            <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">I'm not a Cover member</a>
        </div>
    <?php endif ?>
    <div class="collapse <?php if (cover_session_logged_in() || $form->is_submitted()): ?>show<?php endif ?>" id="collapseExample">
        <form method="POST">
            <input type="hidden" name="type" value="First-year">
            <h3>Personal details</h3>
            <?= $form->render_field('first_name', ['placeholder' => 'Jan']) ?>
            <?= $form->render_field('surname', ['placeholder' => 'de Joker']) ?>
            <?= $form->render_field('email', ['placeholder' => 'sympocee@svcover.nl']) ?>
            <?= $form->render_field('address', ['placeholder' => 'Nijenborgh 9']) ?>
            <?= $form->render_field('postal_code', ['placeholder' => '9747 AG']) ?>
            <?= $form->render_field('city', ['placeholder' => 'Groningen, The Netherlands']) ?>
            <?= $form->render_field('phone', ['placeholder' => '+316 1234 5678']) ?>
            <?= $form->render_field('study') ?>
            <h3>Dinner</h3>
            <?= $form->render_field('dinner') ?>
            <?= $form->render_field('diet') ?>
            <div class="form-group <?= !empty($form->get_field('remarks')->errors) ? 'has-error' : '' ?>">
                <?= $form->get_field('remarks')->render_label() ?>
                <?= $form->get_field('remarks')->render(['class'=> 'form-control', 'placeholder' => 'Comments (allergies, remarks)', 'rows'=>3]) ?>
                <?php foreach ($form->get_field('remarks')->errors as $error): ?>
                    <div class="help-block">
                        <?= $this->html($error) ?>
                    </div>
                <?php endforeach ?>
            </div>
            <h3>Payment</h3>
            <div class="form-group <?= !empty($form->get_field('iban')->errors) ? 'has-error' : '' ?>">
                <?= $form->get_field('iban')->render_label() ?>
                <?= $form->get_field('iban')->render(['class'=> 'form-control', 'placeholder' => 'NL37BANK0123456789']) ?>
                <?php foreach ($form->get_field('iban')->errors as $error): ?>
                    <div class="help-block">
                        <?= $this->html($error) ?>
                    </div>
                <?php endforeach ?>
                <div class="help-block">
                    <i class="fa fa-info-circle"></i> Please contact <a href="mailto:sympocee@svcover.nl">sympocee@svcover.nl</a> if your bank account doesn't have an IBAN.
                </div>
            </div>
            <?= $form->render_field('bic', ['placeholder' => 'BANKNL2G']) ?>
            <?= $form->render_field('wants_expo') ?>
            <?php if (!cover_session_logged_in()): ?>
                <?= $form->render_field('wants_membership') ?>
            <?php endif ?>
            <div class="checkbox <?= empty($form->get_field('has_agreed_terms')->errors) ? '' : 'has-error' ?>">
                <label>
                    <?= $form->get_field('has_agreed_terms')->render() ?>
                    I have read and agree to the <a href='/static/docs/Terms-and-Conditions-Symposium-Recorded.pdf'>terms and conditions</a>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign up!</button>
            </div>
        </form>
    </div>
<?php $this->end() ?>
