img, svg {
  width: 350px;
  vertical-align: middle;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.logoa {
  width: 80%;
  max-width: 400px;
}

.card-header .list-inline,
.card-footer .list-inline,
.table .list-inline {
    margin-bottom: 0;
}

.table.table-registrations th,
.table.table-registrations td {
    white-space: nowrap;
}

.table.table-registrations td.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
