<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<section class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Error: <?= $this->html($status) ?></h1>
                <p>
                    <?php if (empty($html_message)): ?>
                        <?= $this->html($message) ?>
                    <?php else: ?>
                        <?= $html_message ?>
                    <?php endif ?>
                </p>
            </div>
        </div>
    </div>
</section>
<?php $this->end() ?>
