<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
    <header class="masthead" style="background-image:url('static/img/banner.png');">
        <div class="intro-body"><img src="/static/img/text.png"  style="width: 50%;" style="max-width: width 300px;" class="img-responsive">
            <div class="container">
                <!--<div class="row">-->
                    <!--<div class="col-lg-8 mx-auto">-->
                        <!--<p></p>-->
                        <!--<p class="intro-text">Welcome to Cover's 2020 symposium.<br>Event details and tickets are available here.</p>-->
                        <!--<a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>"Nothing to hide"</h2>
                    <p>Has&nbsp;<a style="color: #42dca3;">democracy</a>&nbsp;been hacked? &nbsp;Is the Internet,&nbsp;<a style="color: #42dca3;">mass-surveillance</a><br>&nbsp;and unregulated&nbsp;<a style="color: #42dca3;">privacy</a>&nbsp;compatible with maintaining
                        a fair, uninfluenced democracy?&nbsp;<br></p>
                    <p>This year’s symposium will cover topics concerning&nbsp;<a style="color: #42dca3;">data security</a>, the dangers of mas-ssurveillance, with the aim to demonstrate how badly secured technology can have catastrophic effects on society and the democratic
                        system. Our goal is to encourage students to think about the balance between&nbsp;<a style="color: #42dca3;">security</a>&nbsp;and&nbsp;<a style="color: #42dca3;">privacy</a>&nbsp;in
                        the age of information.</p>
                    <p></p>
                    <div class="intro">
                        <h2 class="text-center"><i class="fa fa-quote-left"></i> </h2>
                        <p class="text-center"><em>"Arguing that you don't care about the right to privacy because you have nothing to hide is no different than saying you don't care about free speech because you have nothing to say." </em><br>- <strong>Edward Snowden</strong></p>
                    </div>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2>DATE</h2>
                    <p><a style="color: #42dca3;">12th of March, 2020</a>&nbsp;<br>Groninger Forum</p>
                    <p></p>
                    <div class="intro">
                        <h2 class="text-center"> </h2>
                    </div>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2>TRAILER</h2>
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iDM8WETF20c" allowfullscreen></iframe>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <section></section>
        <div class="container">
            <div class="buttons"></div>
        </div>
        <div class="row">
            <div class="col">
                <div></div>
            </div>
        </div>
        <section id="speaker" class="content-section text-center">
            <div class="container">
                <h1>SPEAKERS</h1>
            <div class="row">


                <div class="col-sm-6 col-lg-6 mb-6 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/static/img/DSC01459.png">
                    <hr />
                    <h3 class="m-0">Wiebe van Ranst</h3>
                    <h5 class="my-1">Researcher, KU Leuven</h5>
                    <hr />
                    <p class="text-justify"><strong>Title: Fooling automated surveillance cameras: adversarial patches to attack person detection.</strong>

                        Adverserial attacks on machine learning models have seen increasing interest in the past years. By making only subtle changes to the input of a convolutional neural network, the output of the network can be swayed to output a completely different result.
                        <span id="dots">...</span><span id="more"> The first attacks did this by changing pixel values of an input image slightly to fool a classifier to output the wrong class. Other approaches have tried to learn "patches" that can be applied to an object to fool detectors and classifiers. Some of these approaches have also shown that these attacks are feasible in the real-world, i.e. by modifying an object and filming it with a video camera. However, all of these approaches target classes that contain almost no intra-class variety (e.g. stop signs). The known structure of the object is then used to generate an adversarial patch on top of it.
                            This talk will be about our work on how to generate adversarial patches to targets with lots of intra-class variety, namely persons. In this work, the goal is to generate a patch that is able successfully hide a person from a person detector. With this goal in mind we explore the possibility of being able to maliciously circumvent surveillance systems.
                            After that we go deeper into the current state-of-the-art of real-world adversarial attacks.
                            </span></p class="text-justify" >
                    <p>&nbsp;<a style="color: #42dca3;" onclick="myFunction()" id="myBtn">Show more</a>&nbsp;</p>
                </div>


                <div class="col-sm-6 col-lg-6 mb-6 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/static/img/maxresdefault.png">
                    <hr />
                    <h3 class="m-0">To be announced</h3>
                    <h5 class="my-1">To be announced</h5>
                    <hr />
                    <p class="text-justify">Check back here on the 8th of February to discover who the next speaker will be!</p>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-lg-6 mb-6 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/static/img/maxresdefault.png">
                    <hr />
                    <h3 class="m-0">To be announced</h3>
                    <h5 class="my-1">To be announced</h5>
                    <hr />
                    <p class="text-justify">Check back here on the 10th of February to discover who the next speaker will be!</p>
                </div>


                <div class="col-sm-6 col-lg-6 mb-6 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/static/img/maxresdefault.png">
                    <hr />
                    <h3 class="m-0">To be announced</h3>
                    <h5 class="my-1">To be announced</h5>
                    <hr />
                    <p class="text-justify">Check back here on in February to discover who the next speaker will be!</p>
                </div>
            </div>
            </div>
        </section>
    </section>
    <div class="div"><div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Groningen%20Forum+(Groninger%20Forum)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe></div><br /></div>
    <section id="download" class="download-section content-section text-center" style="background-image:url('static/img/mid.jpg');">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Tickets</h1>
                <p>Check back here regularly for updates on speakers as well as ticket purchases.&nbsp;</p><a href="/registration/" class="btn btn-primary btn-lg btn-default" type="button">Buy your tickets here</a></div>
        </div>
    </section>
    <div></div>
    <section id="contact" class="content-section text-center">
        <div class="row">
            <div class="col-md-6">
                <div id="successfail"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>sympocee[at]svcover[dot]nl</p>
                </div>
            </div>
        </div>
    </section>
<?php $this->end() ?>
