<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><?php if (!empty($title)):?><?= $title ?> &mdash; <?php endif ?> [REC🔴RDED] &mdash;Cover Symposium 2020</title>

    <link rel="icon" href="/static/img/favicon/32.png?v=2" sizes="32x32">
    <link rel="icon" href="/static/img/favicon/57.png?v=2" sizes="57x57">
    <link rel="icon" href="/static/img/favicon/76.png?v=2" sizes="76x76">
    <link rel="icon" href="/static/img/favicon/96.png?v=2" sizes="96x96">
    <link rel="icon" href="/static/img/favicon/128.png?v=2" sizes="128x128">
    <link rel="icon" href="/static/img/favicon/192.png?v=2" sizes="192x192">
    <link rel="icon" href="/static/img/favicon/228.png?v=2" sizes="228x228">
    
    <!-- Include stylesheets -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="/static/css/dh-row-quote-bg-color.css">
    <link rel="stylesheet" href="/static/css/Team-Presentation---2-Persons---Social-Media-Icon.css">
    <link rel="stylesheet" href="/static/css/untitled.css">
    <style>
        #more {display: none;}
    </style>
    <?= !empty($styles) ? $styles : ''?>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="/#">Cover 2020 Symposium</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link active js-scroll-trigger" href="/#about">About</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="/#speaker">Speakers</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="/#download">Tickets</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="/#contact">contact</a></li>
                    <?php if(cover_session_logged_in() && cover_session_in_committee(array_merge([ADMIN_COMMITTEE], SUPPORT_COMMITTEES))): ?>
                         <li class="nav-item nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Admin</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
    
                                <a class="dropdown-item" href="/registration/scanner.php">Scanner</a>
                                <a class="dropdown-item" href="/registration/participants.php?view=present">Participants</a>
                                <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
                                    <a class="dropdown-item" href="/registration/admin.php">Registrations</a>
                                <?php endif ?>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">Logged in as <?= $this->html(get_cover_session()->voornaam) ?></div>
                                <a class="dropdown-item" href="<?= cover_logout_url() ?>">Logout</a>
                            </div>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </nav>

    <?= !empty($content) ? $content : ''?>

    <footer>
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="//www.svcover.nl">Cover</a></li>
                <li class="list-inline-item">&mdash;</li>
                <li class="list-inline-item"><a href="mailto:sympocee@svcover.nl">Contact</a></li>
                <li class="list-inline-item">&mdash;</li>
                <li class="list-inline-item"><a href="/static/docs/Terms-and-Conditions-Introductory-Camp-Cover-20190725.pdf">Terms & Conditions</a></li>
                <li class="list-inline-item">&mdash;</li>
                <li class="list-inline-item"><a href="//sd.svcover.nl/Privacy%20Statement/Privacy%20statement.pdf">Privacy statement</a></li>
            </ul>
        </div>
    </footer>

    <!-- Ìnclude scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/static/js/grayscale.js"></script>
    <script src="/static/js/Contact-FormModal-Contact-Form-with-Google-Map.js"></script>
    <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";
          }
        }
    </script>
    <?= !empty($scripts) ? $scripts : ''?>
</body>
</html>
